:root {
  --mk-color-warning: #98813d;
  --mk-bg-warning: #fff3d1;
  --mk-color-info: #478ee8;
  --mk-bg-info: #edf4fd;
  --mk-color-danger: #ff312e;
  --mk-bg-danger: #ffeaea;
  --mk-color-tip: #3c9f6f;
  --mk-bg-tip: #ddf9ec;
}

:root.dark {
  --mk-color-warning: #fed766;
  --mk-bg-warning: #332b14;
  --mk-color-info: #7eb0ef;
  --mk-bg-info: #0e1c2e;
  --mk-color-danger: #ff312e;
  --mk-bg-danger: #330a09;
  --mk-color-tip: #56e39f;
  --mk-bg-tip: #112d20;
}

.custom-block {
  background-color: var(--mk-mute-dark);
  padding: 0.5rem 1.5rem;
  border-radius: 9px;
  text-align: left;
  margin: 1rem 0;
}

.custom-block .custom-block-title:before {
  vertical-align: -10%;
  margin-right: 6px;
  font-size: 128%;
}

.custom-block .custom-block-title {
  font-weight: 800;
}

/* warning custom block */

.custom-block.warning {
  background-color: var(--mk-bg-warning);
}

.custom-block.warning .custom-block-title:before {
  content: "\ea06";
}

.custom-block.warning p {
  color: var(--mk-color-warning);
}

/* danger custom block */

.custom-block.danger {
  background-color: var(--mk-bg-danger);
}

.custom-block.custom-block.danger .custom-block-title:before {
  content: "\ea05";
}

.custom-block.danger p {
  color: var(--mk-color-danger);
}

/* info custom block */

.custom-block.info {
  background-color: var(--mk-bg-info);
}

.custom-block.info .custom-block-title:before {
  content: "\eac5";
}

.custom-block.info p {
  color: var(--mk-color-info);
}

/* tip custom block */

.custom-block.tip {
  background-color: var(--mk-bg-tip);
}

.custom-block.tip .custom-block-title:before {
  content: "\ea67";
}

.custom-block.tip p {
  color: var(--mk-color-tip);
}

details {
  margin: 2rem 0;
  color: var(--mk-theme-text);
}

.table-of-contents {
  background-color: var(--mk-theme-color);
  padding: 1rem;
  border-radius: 9px;
  margin: 2rem 0;
}

.table-of-contents ul li a {
  color: whitesmoke;
}

blockquote {
  padding: 2px 16px;
  margin: 20px 0;
  border-left: 5px solid var(--mk-text-color-mute);
  color: var(--mk-text-color-mute);
  font-weight: 500;
}
