:root {
  --mk-color-warning: #fed766;
  --mk-bg-warning: #ffefca;
  --mk-color-info: #6f9ceb;
  --mk-bg-info: #e9f1ff;
  --mk-color-danger: #ff312e;
  --mk-bg-danger: #ffbb9c;
  --mk-color-tip: #56e39f;
  --mk-bg-tip: #d0fbe1;
}

.custom-block {
  background-color: var(--mk-mute-dark);
  padding: 0.5rem 1.5rem;
  border-radius: 9px;
  text-align: left;
  margin: 1rem 0;
}

details {
  margin: 2rem 0;
  color: var(--mk-theme-text);
}

.table-of-contents {
  background-color: var(--mk-theme-color);
  padding: 1rem;
  border-radius: 9px;
  margin: 2rem 0;
}

.table-of-contents:before {
  content: "Daftar Isi";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--mk-theme-text);
}

.table-of-contents ul li a {
  color: whitesmoke;
}

blockquote {
  padding: 2px 16px;
  margin: 20px 0;
  border-left: 5px solid var(--mk-mute-dark);
  color: var(--mk-text-color);
  background-color: var(--mk-theme-color);
}

div[class*="warning"] {
  background-color: var(--mk-bg-warning);
}

div[class*="warning"] p {
  color: var(--mk-color-warning);
}

div[class*="danger"] {
  background-color: var(--mk-color-danger);
  background-color: var(--mk-bg-danger);
}

div[class*="danger"] p {
  color: var(--mk-color-danger);
}

div[class*="info"] {
  background-color: var(--mk-bg-info);
  font-weight: bolder;
}

div[class*="info"] p {
  color: var(--mk-color-info);
}

div[class*="tip"] {
  background-color: var(--mk-bg-tip);
  font-weight: bolder;
}

div[class*="tip"] p {
  color: var(--mk-color-tip);
}
