:root {
  --mk-color-primary: #1d4ce7;
  --mk-color-secondary: #e3dafb;
  --mk-color-link: #345ee9;
  --mk-background: #f9fcf8;
  --mk-text-color: #101219;
  --mk-text-color-mute: #7e7e80;
  --mk-theme-color: #fefefd;
  --mk-color-accent: #d2dbfa;
  --mk-mute-dark: #e7e7e8;
  --rounded-border: 2rem;
  --mk-font-family: "Inter Variable", "Helvetica", "Arial", "Consolas", "Courier New",
    "Lucida Console", "tabler-icons", sans-serif;
}

:root.dark {
  --mk-color-accent: #0f2674;
  --mk-color-link: #57d2ff;
  --mk-color-primary: #1d4ce7;
  --mk-color-secondary: #181b25;
  --mk-background: #101219;
  --mk-theme-color: #161821;
  --mk-mute-dark: #282a33;
  --mk-text-color: #e0e3eb;
  --mk-text-color-mute: #9598a3;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: var(--mk-font-family);
  box-sizing: border-box;
  background-color: var(--mk-background);
  /* font-weight: 400; */
}

.hero {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 0 1rem;
}
