:root {
  --mk-color-primary: #2176ff;
  --mk-color-secondary: #bcd6ff;
  --mk-color-link: #3083dc;
  --mk-background: #f9fcf8;
  --mk-text-color: #0b090b;
  --mk-text-color-mute: #60635f;
  --mk-theme-color: #fefefd;
  --mk-color-accent: #d3e4ff;
  --mk-mute-dark: #e7e7e8;
  --rounded-border: 2rem;
  --mk-font-family: "Inter Variable", "Helvetica", "Arial", "Consolas", "Courier New",
    "Lucida Console", "tabler-icons", sans-serif;
}

:root.dark {
  --mk-color-accent: #2c59aa;
  --mk-color-link: #2dc7ff;
  --mk-color-primary: #407ed1;
  --mk-color-secondary: #244674;
  --mk-background: #101014;
  --mk-theme-color: #18181c;
  --mk-mute-dark: #28282c;
  --mk-text-color: #eef0f6;
  --mk-text-color-mute: #71737a;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: var(--mk-font-family);
  box-sizing: border-box;
  background-color: var(--mk-background);
  /* font-weight: 400; */
}

.hero {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 0 1rem;
}
